.navbar {
  width: 100%;
  min-height: 50px;
  position: fixed;
  display: block;
}

.navbar ul {
  width: 100%;
}

.navbar li {
  display: inline-block;
  text-align: center;
  width: 25%;
  padding-top: 20px;
  font-size: 20px;
}
