.navbar {
  width: 100%;
  min-height: 50px;
  position: fixed;
  display: block;
}

.navbar ul {
  width: 100%;
}
.navbar li {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}
/* .gameTitle {
  width: 50%;
  font-size: 35px;
  font-weight: bold;
} */

.scoreDisplay {
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
